SetEnv Site_USER Zax_site
SetEnv Site_PASS .RKBvA]U[NF2jAjJ
SetEnv AD_USER Trc_pm
SetEnv AD_PASS	8Yoz41kY1POxex8u
SetEnv DATABASE_HOST localhost
SetEnv Products_DB zax_products
SetEnv research_reports_DB zax_research_reports
SetEnv Messages_DB zax_messages
SetEnv Users_DB Trc_Users
SetEnv Square_App sandbox-sq0idb-Wb6bRRL7Z21Ko0ONUxB3Sg
SetEnv Square_Access_ID EAAAl_oRZnIvYgZYxB4AJaTjKEa5HCwDej0PK2x0qyu8P2fMd3B2c0FA18Am2eja
SetEnv Square_Location_ID L3CKJHBS4F0XN
