SetEnv Site_USER Trc_site
SetEnv Site_PASS 4R6znTF3vwZ6xzDO
SetEnv Products_DB oe_products
SetEnv Users_DB oe_users
SetEnv Contact_DB oe_products
SetEnv DATABASE_HOST localhost

SetEnv Square_App sandbox-sq0idb-JIrGOe2dNlws-6VAboiizw
SetEnv Square_Access_ID EAAAl7J1Hj48fgrgZc0ayCh6MZuVYGPNbsKI9zd7zuWvsHb4vOpDseaoJImuQwf-
SetEnv Square_Location_ID L3CKJHBS4F0XN

ErrorDocument 404 /404.php
