.container{
  display: flex;
  justify-content: center;
  /* background-image: url('../public/whiteShirt.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:30vw;
  height:20vw;
  margin-left:35vw;
  position: relative;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
