<FilesMatch "\.(html|js|css|json|xml)$">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</FilesMatch>
SetEnv KLAVIYO_API_KEY pk_fa6ec88980d6d041219e9fdea4078120b5

SetEnv KLAVIYO_LIST_ID_CONTACT your_contact_list_id_here
SetEnv KLAVIYO_LIST_ID_CUSTOMIZE your_customize_list_id_here

SetEnv KLAVIYO_LIST_ID_EMAIL your_email_list_id_here
SetEnv KLAVIYO_LIST_ID_SMS TwjcvE
	
SetEnv CLIENT_NOTIFICATION_EMAIL trulyrarecustoms@gmail.com

SetEnv Site_USER Trc_site
SetEnv Site_PASS 4R6znTF3vwZ6xzDO
SetEnv AD_USER Trc_pm
SetEnv AD_PASS	8Yoz41kY1POxex8u
SetEnv DATABASE_HOST localhost
SetEnv Products_DB Trc_Products
SetEnv Messages_DB Trc_messages
SetEnv Users_DB Trc_Users

SetEnv SQUARE_APP_ID sq0idp-h2iK__Nxndpt985qjqDh-w
SetEnv SQUARE_LOCATION_ID LJAZEKSDZ3XSS 
SetEnv SQUARE_ACCESS_ID EAAAl0QZpF2lhmMscZYnumXDmCu1RrldlqCLXAIVj4tTIEaiyRe9tACIVx9DZopL
ErrorDocument 404 /404.php

SetEnv WAFFLE pk_7f14caeb76220581590c55f4f52e84b05c
SetEnv WAFFLE_KINGDOM V4fB4S
