html{
  overflow-x:auto;
}

#reviews {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
#bannerSVG{
width:100vw;
height:25vw;
}
#bannerRect{
width:100vw;
height:25vw;
}
.reviewsRect{
width:20vw; 
height:20vw;
}
.reviewsSVG{
width:20vw; 
height:20vw;
}
#arrows{
  display: flex;
  justify-content: center;
  flex-direction: row;
  opacity: 50%;

}
#previousArrow{
    border:none;
}
#nextArrow{
    border:none;
}
.full-banner-track {
  display: flex;
  width: max-content;
  transition: transform 0.5s ease-in-out;
}
#bannerTrack{
display: flex;
flex-direction: row;
}
.full-slide{
  width:100vw;
  height:40vw;
}




#prompt {
  position: fixed;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 80vw;
  font-size: clamp(14px, 2vw, 18px);
}

#promptText{
  position: fixed;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 1.5em;
  text-align: center;
  max-width: 80vw;
  font-size: clamp(14px, 2vw, 18px);
}
#sms{
  position: fixed;
  transform: translateX(-7%);
  z-index: 1000;
  background-color: white;
  padding: 1.5em;
  text-align: center;
  max-width: 80vw;
  font-size: clamp(14px, 2vw, 18px);
}

@media (max-width: 767px) {
#reviews {
display: flex;
justify-content: center;
gap: 1vw;
}
.reviewsRect{
width:40vw; 
height:40vw;
}
.reviewsSVG{
width:40vw; 
height:40vw;
}
}
