main{
display:flex;
justify-content:center;
}
#purchaseButtons{
  display: block;
  margin: 0 auto; /* center horizontally */
  padding: 0.75em 2em; /* space inside button */
  background-color: white;
  color: black;
  font-size: 1.2em;
  margin-bottom:5vw; 
  border-radius: 999px; /* makes it pill/oval shape */
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
flex-direction:row;
gap:3vw;
}
.productDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;  /* horizontally center everything inside */
  text-align: center;   /* optional: center text */
}

#productData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* optional: add space between elements */
}

.t{
display: inline-block;
  margin: 0 auto; /* center horizontally */
  padding: 0.75em 2em; /* space inside button */
  background-color: white;
  color: black;
  font-size: 1.2em;
  margin-bottom:5vw; 
  border-radius: 999px; /* makes it pill/oval shape */
  cursor: pointer;
  transition: background 0.3s ease;
}