main{
display:flex;
justify-content:center;
}
#purchaseButtons{
display:flex;
flex-direction:row;
gap:3vw;
}
.productDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;  /* horizontally center everything inside */
  text-align: center;   /* optional: center text */
}

#productData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* optional: add space between elements */
}

