.about-section{
    display: flex;
    justify-self: center;
    flex-direction: column;

}
.box {
    width: 35vw;
    height: 250px;
    border: 2px solid #d98b8f;
    border-radius: 4px;
    left: 50px;
}
