.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    width: 1200px;
    margin: auto;
    padding: 0 -5vw;
}

.contactName{
    display: flex;
    /* justify-content: center; */
    padding: 0 2vw;
}

/* img box */
.contact-image-placeholder {
    display: flex;
    /* justify-self: flex-end; */
    width: 70vw;
    height: 30vw;
    border: 2px solid #d98b8f;
    border-radius: 4px;
}

/* Form layout */
.contact-form {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 1vw;
}

.form-input {
    width: 75vw;
}

@media screen and (min-width: 500px) {
    .form-input {
        width: 45vw;
    }
}
