.shop-content {
    display: flex;
    justify-self: right;
    flex-direction: row;
    gap: 10vw;
    margin-right: 10vw;;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product-image{
    width: 250px;
    height: 250px;
    border: 2px solid #d98b8f;
    border-radius: 4px;
}